In [1]:
import pickle
import time
import os
import datetime
import numpy as np
import pandas as pd

cur_dir = os.getcwd()
main_dir = os.path.dirname(os.path.dirname(cur_dir))

In [2]:
data_dir = os.path.join(main_dir, "ConsolidatedData", "Training1")
with open(os.path.join(data_dir, "consolidated_all_uniqueRTDs_infrequent.pkl"),'rb') as f:
  training_df = pickle.load(f)

In [3]:
#Add "Label" column to indicate flight condition where flag==0b10011 (capturing data)
if "Label" not in training_df.columns:
  training_df.insert(1, "Label", None)
  airspeeds = [7, 8.3, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
  aoas = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

  conds = list()
  for airspeed in airspeeds:
    for aoa in aoas:
      conds.append (f"{airspeed}m/s_{aoa}deg")

  cond_ix = -1
  prev_flag = 0
  for row_ix in range(training_df.shape[0]):
    if row_ix % 100000 == 0:
      print (row_ix)
    row = training_df.iloc[row_ix]
    if row["Flag"] == "0b10011":
      if prev_flag == 0:
        cond_ix += 1
        prev_flag = 1
      training_df.loc[row_ix, "Label"] = conds[cond_ix]
    else:
      prev_flag = 0

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000

In [20]:
training_df.head()

,rtdstr_orig_index,Date/Time,Video Time (sec),rtdstr_DateTime Obj,Temp,Datapoint,Sensor ID,SG 1 (V),SG 1 (V) (normalized),SG 1 (V) (normalized) (compensated),...,Temp (F),Yaw (deg)_y,Inclination (deg),Roll (deg)_y,Lift (lbf),Drag (lbf),Side Force (lbf),Mx (ft-lbf),My (ft-lbf),Mz (ft-lbf)
0,539,2022-08-02_17-25-48-14,None,2022-08-02 17:25:48.140,NaN,540.0,NaN,1.653291,-0.000030,-2.246776e-05,...,81.599998,0.0,0.0,0.0,0.05,-0.01,0.0,0.1,0.08,0.05
1,540,2022-08-02_17-25-48-15,None,2022-08-02 17:25:48.150,NaN,541.0,NaN,1.653319,-0.000001,4.843848e-06,...,81.599998,0.0,0.0,0.0,0.05,-0.01,0.0,0.1,0.08,0.05
2,541,2022-08-02_17-25-48-16,None,2022-08-02 17:25:48.160,NaN,542.0,NaN,1.653313,-0.000008,-6.993169e-07,...,81.599998,0.0,0.0,0.0,0.05,-0.01,0.0,0.1,0.08,0.05
3,542,2022-08-02_17-25-48-17,None,2022-08-02 17:25:48.170,NaN,543.0,NaN,1.653324,0.000003,9.958448e-06,...,81.599998,0.0,0.0,0.0,0.05,-0.01,0.0,0.1,0.08,0.05
4,543,2022-08-02_17-25-48-17,None,2022-08-02 17:25:48.170,NaN,544.0,NaN,1.653316,-0.000005,2.038711e-06,...,81.599998,0.0,0.0,0.0,0.05,-0.01,0.0,0.1,0.08,0.05

In [3]:
training_df.tail()

,rtdstr_orig_index,Date/Time,rtdstr_DateTime Obj,Temp,Datapoint,Sensor ID,SG 1 (V),SG 1 (V) (normalized),SG 1 (V) (normalized) (compensated),SG 2 (V),...,Temp (F),Yaw (deg)_y,Inclination (deg),Roll (deg)_y,Lift (lbf),Drag (lbf),Side Force (lbf),Mx (ft-lbf),My (ft-lbf),Mz (ft-lbf)
1417476,1418015,2022-08-02_20-28-47-07,2022-08-02 20:28:47.070,NaN,1418016.0,NaN,1.653058,-0.000263,0.000032,1.685178,...,77.599998,0.0,0.0,0.0,0.0,0.02,-0.01,0.15,-0.1,-0.11
1417477,1418016,2022-08-02_20-28-47-08,2022-08-02 20:28:47.080,NaN,1418017.0,NaN,1.653022,-0.000298,0.000001,1.685149,...,77.599998,0.0,0.0,0.0,0.0,0.02,-0.01,0.15,-0.1,-0.11
1417478,1418017,2022-08-02_20-28-47-09,2022-08-02 20:28:47.090,NaN,1418018.0,NaN,1.653065,-0.000256,0.000042,1.685188,...,77.599998,0.0,0.0,0.0,0.0,0.02,-0.01,0.15,-0.1,-0.11
1417479,1418018,2022-08-02_20-28-47-10,2022-08-02 20:28:47.100,NaN,1418019.0,NaN,1.653017,-0.000304,-0.000004,1.685140,...,77.599998,0.0,0.0,0.0,0.0,0.02,-0.01,0.15,-0.1,-0.11
1417480,1418019,2022-08-02_20-28-47-10,2022-08-02 20:28:47.100,NaN,1418020.0,NaN,1.653048,-0.000273,0.000025,1.685186,...,77.599998,0.0,0.0,0.0,0.0,0.02,-0.01,0.15,-0.1,-0.11

In [4]:
#Add "Video Time (sec)" column to match the seconds in the run video.
video_start_rows_in_df = [1480]
video_start_seconds_in_video = [5]
video_end_rows_in_df = [1417480]
video_end_seconds_in_video = [10972.0]

training_df.insert(2, "Video Time (sec)", None)

for i in range(len(video_start_rows_in_df)):
  num_rows = video_end_rows_in_df[i] - video_start_rows_in_df[i]
  time_delta = video_end_seconds_in_video[i] - video_start_seconds_in_video[i]
  video_time_inc = time_delta/num_rows

  time_increment_secs = 0
  video_time = video_start_seconds_in_video[i]
  for j in range(num_rows):
    training_df.loc[video_start_rows_in_df[i]+j, "Video Time (sec)"] = video_time + time_increment_secs
    time_increment_secs += video_time_inc

In [5]:
#Save videotimed and labeled data as .csv and pickle files
output_csv = os.path.join(data_dir, "videotimed_labeled_consolidated_all_uniqueRTDs_infrequent.csv")
training_df.to_csv(output_csv, index=False)

training_df.to_pickle(os.path.join(data_dir,'videotimed_labeled_consolidated_all_uniqueRTDs_infrequent.pkl'))